<?xml version="1.0" encoding="UTF-8"?>
<extension>
        <information>
                <name>karch</name>
                <version>1.2</version>
                <author>neonsea</author>
                <id>karch</id>
        </information>
        <menus>
                <menu type="json" dynamic="true">menu.json</menu>
        </menus>
</extension>
